banner motd #

************************************************************
*   Bienvenue sur {{ inventory_hostname | upper }}          *
*   {{ company_message }}                                   *
*                                                          *
*   Travail realise par : {{ student1 }} et {{ student2 }} *
************************************************************

#
