---
- name: Déploiement de VLANs sur les commutateurs
  hosts: switchs
  gather_facts: no
  connection: network_cli

  vars:
    vlans:
      - { id: 10, name: "Data" }
      - { id: 20, name: "Voice" }
      - { id: 30, name: "Management" }

  tasks:
    - name: Créer les VLANs
      ios_config:
        parents: "vlan {{ item.id }}"
        lines:
          - "name {{ item.name }}"
      loop: "{{ vlans }}"
